<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <pages validateRequest="false"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
    <machineKey validationKey="A28C21A07ACC0813C786B17C38DA0072E1021DC7AD9D653BDF62AFCA9FFDB7134460608170F79BCAF681070A14C2201F8DD1A66B155D571135B0012ABD964697" decryptionKey="90A34593791BA4EA7FFE3C86B438E1DECE0BCB0D6CDE71E416B5D020ACF989C5" validation="SHA1" decryption="AES"/>
  </system.web>
  
  <appSettings>
    <!--<add key="cs" value="server=goodesign.in.th;uid=root;pwd=Offjun10r;database=p5_db;charset=utf8;"/>-->
    <!--<add key="cs" value="Server=tcp:p5graphic.database.windows.net,1433;Database=p5graphic;User ID=p5graphic@p5graphic;Password=P@ssw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add key="cs" value="Server=tcp:goodesign-us.database.windows.net,1433;Initial Catalog=bridgestone_us;Persist Security Info=False;User ID=offduiclub;Password=Offjun10r;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="mailTo" value="porjaip5@gmail.com,porjaip5@hotmail.com"/><!--porjaip5@gmail.com,porjaip5@hotmail.com-->
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
         <!-- This will handle requests up to 1024MB (1GB) -->
         <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
   </security>
  </system.webServer>
</configuration>