.fontComment
{
    font-size:8pt;
    color:#525252;
}
.fontWarn
{
    font-size:8pt;
    color:#E04E4E;
}
.fontSeparate
{
    color:#cacaca;
    margin:0px 5px 0px 5px;
}

.copyRight
{
    font-size:8pt;
    color:#57762D;
    margin:10px 5px 5px 5px;
}
.copyRight A:link {color:#ddd; text-decoration: none;}
.copyRight A:visited {color:#ddd; text-decoration: none;}
.copyRight A:active {color:#414141; text-decoration: none;}
.copyRight A:hover {color:#414141; text-decoration:none;}

.mouseOver
{
    background:#fafafa;
}
.mouseOut
{
    background:;
}
.trDefault td
{
    background-color:#FFF;
}
.trDefault:hover td
{
    background-color:#F8F8F8;
}
.imgMouse img
{
    filter:alpha(opacity=80);
    -moz-opacity:.80;opacity:.80;
}
.imgMouse:hover img
{
    filter:alpha(opacity=100);
    -moz-opacity:1.0;opacity:1.0;
}

.imgMouseOut img
{
    filter:alpha(opacity=80);
    -moz-opacity:.80;opacity:.80;
}
.imgMouseOver img
{
    filter:alpha(opacity=100);
    -moz-opacity:1.0;opacity:1.0;
}
.imgMouseOutGray img
{
    filter:;
}
.imgMouseOverGray img
{
    filter:gray;
}

#menuMain a
{
    display:block;
    float:left;
}
a#mnHome{width:126px;height:40px;background:url('/Images/mnHome.png') no-repeat 0px 0px;cursor:pointer;}
a#mnHome:hover{width:126px;height:40px;background:url('/Images/mnHome.png') no-repeat 0px -40px;cursor:pointer;}
a#mnHome_active{width:126px;height:40px;background:url('/Images/mnHome.png') no-repeat 0px -40px;cursor:pointer;}
a#mnHome_active:hover{width:126px;height:40px;background:url('/Images/mnHome.png') no-repeat 0px -40px;cursor:pointer;}

a#mnProject{width:165px;height:40px;background:url('/Images/mnProject.png') no-repeat 0px 0px;cursor:pointer;}
a#mnProject:hover{width:165px;height:40px;background:url('/Images/mnProject.png') no-repeat 0px -40px;cursor:pointer;}
a#mnProject_active{width:165px;height:40px;background:url('/Images/mnProject.png') no-repeat 0px -40px;cursor:pointer;}
a#mnProject_active:hover{width:165px;height:40px;background:url('/Images/mnProject.png') no-repeat 0px -40px;cursor:pointer;}

a#mnGallery{width:135px;height:40px;background:url('/Images/mnGallery.png') no-repeat 0px 0px;cursor:pointer;}
a#mnGallery:hover{width:135px;height:40px;background:url('/Images/mnGallery.png') no-repeat 0px -40px;cursor:pointer;}
a#mnGallery_active{width:135px;height:40px;background:url('/Images/mnGallery.png') no-repeat 0px -40px;cursor:pointer;}
a#mnGallery_active:hover{width:135px;height:40px;background:url('/Images/mnGallery.png') no-repeat 0px -40px;cursor:pointer;}

/*เคลียร์ค่าต่างๆที่อาจติดมาจากคลาสอื่น*/
.ClearStyle table,.ClearStyle table tr,.ClearStyle table tr td,.ClearStyle div,.ClearStyle p
{
    border:0 none !important;
    padding:0;
    margin:0;
    background:none;
    text-align:inherit;
    clear:both;
}

.RoundCorner
{
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
}
.BoxShadow
{
		-moz-box-shadow:0 2px 3px rgba(0,0,0,0.1);
		-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1);
		box-shadow:0 2px 3px rgba(0,0,0,0.1);
}
.TextShadow
{
		text-shadow: 0 1px 0 rgba(0, 0 ,0, .2);
}